.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.div {
  font-size: 50px;
  color: crimson;
}
.imgs {
  width: 100px;
  height: 100px;
}
.heading {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
}
